language: objective-c

before_install:
    - brew update
    - gem install xcpretty --no-rdoc --no-ri --no-document --quiet

script: 
    - set -o pipefail
    # 32 bits
    - xcodebuild -workspace cpa-ios.xcworkspace -scheme cpa-ios-demo -destination 'platform=iOS Simulator,name=iPad 2' | xcpretty -c
    # 64 bits
    - xcodebuild -workspace cpa-ios.xcworkspace -scheme cpa-ios-demo -destination 'platform=iOS Simulator,name=iPad Air' | xcpretty -c
